@{
    ViewBag.Title = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_4.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với ABC Booking Hotel</h3>
            <p>

                ABC Booking Hotel là khách sạn quốc tế đầu tiên tại Việt Nam, tọa lạc ngay trung tâm thành phố Thủ Dầu Một. Với vị trí thuận lợi, khách sạn chỉ cách sân bay quốc tế Tân Sơn Nhất khoảng 30km, rất tiện lợi cho các chuyến công tác hay du lịch.

                Khách sạn có nhiều loại phòng, được thiết kế hiện đại và độc đáo.
                
                Ngoài hệ thống phòng nghỉ, ABC Booking Hotel còn cung cấp nhiều dịch vụ tiện ích như nhà hàng, phòng họp, dịch vụ cho thuê văn phòng, sân tennis, sauna & massage, trung tâm thể hình, sòng bạc và các dịch vụ giải trí khác.
                <center>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31556.12247382386!2d106.66406837796598!3d10.993707700000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d85d75c14c01%3A0x9d76b0035f6d2b7c!2zVGjhu6cgRMaw4bujbSwgQsOsbmggRMawxqFuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1678205985333!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </center>
                Đội ngũ đầu bếp chuyên nghiệp sẽ mang đến cho quý khách những món ẩm thực tinh tế, mang đậm phong cách truyền thống Việt Nam. Cùng với phong cách phục vụ chuyên nghiệp, nhiệt tình và thân thiện, ABC Booking Hotel đã trở thành một thương hiệu khách sạn nổi tiếng tại Việt Nam.
            </p>
        </div>
    </div>
</div>

